@import "/src/assets/scss/main.scss";

.post-card {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  margin-bottom: $spacing * 8;

  &:last-child {
    margin-bottom: 0;
  }

  &__img {
    min-width: 404px;
    min-height: 248px;
    background: #c4c4c4;
  }

  &__content {
    padding: $spacing * 4;
    color: #000000;

    h2 {
      font-weight: bold;
      font-size: 32px;
      line-height: 37px;
      margin: 0 auto $spacing * 2;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto $spacing * 3;
    }

    button {
      border: none;
      outline: none;
      width: 130px;
      height: 40px;
      background: #4ead43;
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
    }
  }
}
