@import "/src/assets/scss/main.scss";

.single-post {
  max-width: 1233px;
  margin: auto;

  &__card {
    width: 100%;
    min-height: 667px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);

    h1 {
      padding: $spacing * 6;
      margin: 0;
      font-weight: bold;
      font-size: 50px;
      line-height: 59px;
    }
  }

  &__card-img {
    height: 520px;
    background: #c4c4c4;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin-top: $spacing * 6;
    text-align: justify;
  }
}
